body{
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100dvh;
}


button{
    height: fit-content;
    min-height: 30px;
    width: fit-content;
    outline: none !important;
    cursor:pointer;
    padding: .25rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: .9rem;
    border-radius: var(--btn-border-radius);
}


a, span{
    text-decoration: none;
    cursor: pointer;
    color: var(--a-txtc);
    font-weight: 540;
}

p, li{
    margin: 0;
    padding: 0;
    font-size: 1rem;
    color: var(--txtc-1);
    font-weight: 500;
}

ul{
    padding: 0;
    list-style: none;
}

:disabled{
    cursor: not-allowed !important;
    opacity: 0.7;
}

input{
    outline: none;
    border: 1px solid black;
    border-radius:10px;
    background: none;
    padding: 5px 10px;
    color: var(--input-txtc);
    font-size: 1rem;
}

:placeholder-shown{
    color: var(--input-cursor-c);
    font-weight: 500;
}

.p-btn{
    border:1px solid var(--btn-border1);
    background-color: var(--btn-bg1);
    color:var(--txtc-1);
}
.s-btn {
    background: none;
    border: none;
    outline: none;
    position: relative;
    cursor: pointer;
  }
  
  .s-btn::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: red; /* Change this color to match your design */
    transition: width 0.3s ease, left 0.3s ease;
  }
  
  .s-btn:last-child:after {
    width: 0;
    left: -100%;
  }

  .s-btn:first-child:after {
    width: 0;
    left: 100%;
  }
  
  .s-btn.active:last-child::after {
    left: 0;
    width: 100%;
    transition: width 0.3s ease, left 0.3s ease;
  }
  
  .s-btn.active:first-child::after {
    left: 0;
    width: 100%;
    transition: width 0.3s ease, left 0.3s ease;
  }
  

.bottom-center{
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translate(-50%, 50%);
}

.d-fm{/*display-flex-middle*/
    display: flex;
    align-items: center;
    padding: 5px 10px;
    gap: 5px;
    justify-content: center;
}

.p-o{/*position absolute*/
    position: absolute;
}

.top-right{
    right: 20px;
    top: 20px;
}

.c-p{
    cursor: pointer;
}

.z0{z-index: var(--z0);}
.z1{ z-index: var(--z1);}
.z2{ z-index: var(--z2);}
.z3{ z-index: var(--z3);}

