@font-face {
    font-family: 'Ubuntu';
    src: url('../font/Ubuntu-Medium.ttf') format('truetype');
  }


* {
    -webkit-tap-highlight-color: transparent !important;
}

/* Hide the default number input arrows */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0; 
}
input[type=number] {
    -moz-appearance: textfield; 
}


input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0px 1000px none inset;
}


:root{
    --p-bg1:#F3EFE6;
    --p-bg2:#FFFFFF;


    --txtc:#23262B;
    --txt-opp:#F3EFE6;
    --less-t-c:#3a3a3a;
    --a-txtc:#51A952;
    --a-hover-c:#23262B;
    --important-txtc:black;
    --highlighted-txtc:orange;
    --input-cursor-c:#23262B;
    --invalid-txtc:#ff2300;
    --border-c:#23262B;
    --notification-c:#23262B;

    --btn-bg:#F1F1F1;
    --btn-border:black;
    --btn-border-radius: 10px;

    --shadow:rgba(35, 38, 43, 0.2);
    --blend:rgba(243, 239, 230, .5);


    --20:0;
    --z1:1;
    --z2:2;
    --z3:3;
    --z4:4;

}

@media (prefers-color-scheme: dark) {
    :root{
        --p-bg1:#23262B;

        --txtc:#F3EFE6;
        --a-txtc:#51A952;
        --txt-opp:#23262B;

        --shadow:rgba(243, 239, 230, .2);
        --blend:rgba(35, 38, 43, .5);


        --btn-bg:#23262B;
        --btn-border:#F3EFE6;

        
    }
  }


  body, html{
    padding: 0;
    margin: 0;
    font-size: 20px;
    font-family: 'Ubuntu';
    background: var(--p-bg1);
}