.icon{
    cursor: pointer;
}

.homepage{
    position: relative;
    padding: 10px;
    width: calc(100vw - 20px);
    height: calc(100dvh - 20px);
    flex: 1;
    transition: all 1s;
}


.modal{
    position: absolute;  
    width: 100vw;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(5px);
    top:0;
    left: 0;
    
}

.modal-content{
    position: absolute;
    padding: 10px;
    width: calc(80vw - 10px);
    background: red;
    height: fit-content !;
    left: 50%;top: 50%;
    transform: translate(-50%, -50%); 
}


.menu-item{
    width: calc(100% - 20px);
    padding: 10px;
    margin: 10px;
}

.nav-bar{
    display: flex;
    gap: 15px;
    transition: width 0.5s ease-in-out;
    padding: 10px 0;
    height: fit-content !important;
}
.in-app-features{
    display: flex;
    gap: 15px;
    margin: 5px 10px 5px auto;
    transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;
}
  .search-bar {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 10px;
    display: none;
    width: 0;
    transform: scaleX(0); /* Start with no width (scale to zero horizontally) */
    transform-origin: right; /* Set the transform origin to the right */
    transition: width 0.5s ease-in-out, transform 0.5s ease-in-out;
  }
  
  .search-bar.expanded {
    width: 100%;
    transform: scaleX(1); /* Expand horizontally (scale to full width) */
  }
  
  .search-bar-div{
    display: flex;
    flex: 1;
    width: calc(100% - 15px);
    border: 1px solid black;
    border-radius: 10px;
    padding: 5px;
    gap: 10px;
  }

  .search-bar-input {
    width: inherit;
    border: none;
    outline: none;
  }
  
  .toggle-search-btn {
    background: none;
    border: none;
    cursor: pointer;
  }
  
  /*.hidden {
    opacity: 0;
    visibility: hidden;
    display: none;
  }*/
  

  .filter-options{
    display: flex;
    gap: 10px;
    color: white;
  }

  .filter-label{

  }

  .top-nav{
    display: flex;
    flex-direction: column;
  }

  .top-nav .top-div, .top-nav .bottom-div{
    display: flex;
    margin-bottom: 5px;
    flex: 1;
    align-items: center;
  }

  .top-nav .bottom-div *{
    flex: 1;
  }


  .lower-nav-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 1;
    padding: 15px;
    position: relative;
  }

  .create-btn{
    outline: none;
    border: 2px solid black;
    background: white;
    background: none;
    position: absolute;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    right: 20px;
    transform: translateY(-110%);
    box-shadow: 2px 5px 10px 2px black;
  }



.home-page{
  position: relative;
  height: 100vh;

}

.top-nav{
  position: absolute;
  top: 0; height: fit-content; width: 100%;
  background: yellow;
  transition: all .5s;
}

.upperone{
  border-bottom: 1px solid black;
}


.bottom-nav{
  position: absolute;
  bottom: 0; height: 40px;width: 100%;
  background: green;
  transition: all .5s;
}

.top-nav.hidden{
  transform: translateY(-110%);
  opacity: 0;
}


.bottom-nav.hidden{
  transform: translateY(100%);
  opacity: 0;
}

.user-view{
  height: 100vh;
  overflow: scroll;
  background: blue;
  position: relative;
  scroll-behavior: smooth;
}
.main-content{
  height: 300vh;
}

